---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contact">
  <div class="c4a0m">
    <div class="c8b8k">
      <div class="c7qcc">
        <section>
          <!-- Page title -->
          <h1 class="cpynq cme53 ciz93">Partner with an Expert ✨</h1>
          <!-- Page content -->
          <div class="cxslc c2bb0 cr8w3">
            <p class="c5rvt">
              Get in touch with an expert focused on scalable systems,
              infrastructure, and API architecture. Whether you're looking to
              collaborate, request technical consultation, or ask a question —
              here's what you can expect:
            </p>
            <ul class="c9gi4">
              <li class="c9noy cfwvb">
                <svg
                  class="cjnrq chugl csb3e c9ahf cud2d cf4g2 cafn9"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span
                  >Quick and professional responses to technical inquiries.</span
                >
              </li>
              <li class="c9noy cfwvb">
                <svg
                  class="cjnrq chugl csb3e c9ahf cud2d cf4g2 cafn9"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span
                  >Consultation for backend architecture, DevOps, and secure
                  infrastructure.</span
                >
              </li>
              <li class="c9noy cfwvb">
                <svg
                  class="cjnrq chugl csb3e c9ahf cud2d cf4g2 cafn9"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span
                  >Opportunities to collaborate on infrastructure or system
                  design projects.</span
                >
              </li>
              <li class="c9noy cfwvb">
                <svg
                  class="cjnrq chugl csb3e c9ahf cud2d cf4g2 cafn9"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Genuine, technical-first conversations — no fluff.</span>
              </li>
            </ul>

            <div>
              <!-- Subscribe form -->
              <div class="!tw-isolate">
                <form
                  id="contact-form"
                  class="!tw-mt-8 !tw-max-w-xl sm:!tw-mt-10"
                >
                  <div
                    class="!tw-grid !tw-grid-cols-1 !tw-gap-x-8 !tw-gap-y-6 sm:!tw-grid-cols-2"
                  >
                    <div>
                      <label
                        for="first-name"
                        class="!tw-block !tw-text-sm/6 !tw-font-semibold !tw-text-gray-900"
                        >First name</label
                      >
                      <div class="!tw-mt-2.5">
                        <input
                          type="text"
                          name="first-name"
                          id="first-name"
                          autocomplete="given-name"
                          placeholder="First Name"
                          required
                          class="c899y !tw-block !tw-w-full !tw-rounded-md !tw-px-3.5 !tw-py-2 !tw-text-base !tw-text-gray-900 !tw-placeholder:text-gray-400"
                        />
                      </div>
                    </div>
                    <div>
                      <label
                        for="last-name"
                        class="!tw-block !tw-text-sm/6 !tw-font-semibold !tw-text-gray-900"
                        >Last name</label
                      >
                      <div class="!tw-mt-2.5">
                        <input
                          type="text"
                          name="last-name"
                          id="last-name"
                          autocomplete="family-name"
                          placeholder="Last Name"
                          required
                          class="c899y !tw-block !tw-w-full !tw-rounded-md !tw-px-3.5 !tw-py-2 !tw-text-base !tw-text-gray-900 !tw-placeholder:text-gray-400"
                        />
                      </div>
                    </div>
                    <div class="sm:!tw-col-span-2">
                      <label
                        for="company"
                        class="!tw-block !tw-text-sm/6 !tw-font-semibold !tw-text-gray-900"
                        >Company</label
                      >
                      <div class="!tw-mt-2.5">
                        <input
                          type="text"
                          name="company"
                          id="company"
                          autocomplete="organization"
                          placeholder="Company"
                          required
                          class="c899y !tw-block !tw-w-full !tw-rounded-md !tw-px-3.5 !tw-py-2 !tw-text-base !tw-text-gray-900 !tw-placeholder:text-gray-400"
                        />
                      </div>
                    </div>
                    <div class="sm:!tw-col-span-2">
                      <label
                        for="email"
                        class="!tw-block !tw-text-sm/6 !tw-font-semibold !tw-text-gray-900"
                        >Email</label
                      >
                      <div class="!tw-mt-2.5">
                        <input
                          type="email"
                          name="email"
                          id="email"
                          autocomplete="email"
                          placeholder="Email"
                          required
                          class="c899y !tw-block !tw-w-full !tw-rounded-md !tw-px-3.5 !tw-py-2 !tw-text-base !tw-text-gray-900 !tw-placeholder:text-gray-400"
                        />
                      </div>
                    </div>
                    <div class="sm:!tw-col-span-2">
                      <label
                        for="phone-number"
                        class="!tw-block !tw-text-sm/6 !tw-font-semibold !tw-text-gray-900"
                        >Phone number</label
                      >
                      <div class="!tw-mt-2.5">
                        <div
                          class="!tw-flex !tw-rounded-md !tw-bg-white has-[input:focus-within]:!tw-outline-2 has-[input:focus-within]:-!tw-outline-offset-2 has-[input:focus-within]:!tw-outline-indigo-600"
                        >
                          <div
                            class="!tw-grid !tw-shrink-0 !tw-grid-cols-1 focus-within:!tw-relative"
                          >
                            <select
                              id="country"
                              name="country"
                              autocomplete="country"
                              aria-label="Country"
                              required
                              class="c899y !tw-col-start-1 !tw-row-start-1 !tw-w-full !tw-appearance-none !tw-rounded-none !tw-py-2 !tw-pr-7 !tw-pl-3.5 !tw-text-base !tw-text-gray-500 !tw-placeholder:text-gray-400 sm:!tw-text-sm/6"
                            >
                              <option>US</option>
                              <option>CA</option>
                              <option>EU</option>
                            </select>
                          </div>
                          <input
                            type="text"
                            name="phone-number"
                            id="phone-number"
                            class="c899y !tw-rounded-none !tw-block !tw-min-w-0 !tw-grow !tw-py-1.5 !tw-pr-3 !tw-pl-1 !tw-text-base !tw-text-gray-900 !tw-placeholder:text-gray-400 focus:!tw-outline-none sm:!tw-text-sm/6"
                            placeholder="123-456-7890"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="sm:!tw-col-span-2">
                      <label
                        for="message"
                        class="!tw-block !tw-text-sm/6 !tw-font-semibold !tw-text-gray-900"
                        >Message</label
                      >
                      <div class="!tw-mt-2.5">
                        <textarea
                          name="message"
                          id="message"
                          rows="4"
                          placeholder="Send a message"
                          required
                          class="c899y !tw-block !tw-w-full !tw-rounded-xl !tw-px-3.5 !tw-py-2 !tw-text-base !tw-text-gray-900 !tw-placeholder:text-gray-400"
                        ></textarea>
                      </div>
                    </div>
                    <div class="!tw-flex !tw-gap-x-4 sm:!tw-col-span-2">
                      <div class="!tw-flex !tw-h-6 !tw-items-center">
                        <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
                        <button
                          type="button"
                          class="!tw-flex !tw-w-8 !tw-flex-none !tw-cursor-pointer !tw-rounded-full !tw-bg-gray-200 !tw-p-px !tw-ring-1 !tw-ring-gray-900/5 !tw-transition-colors !tw-duration-200 !tw-ease-in-out !tw-ring-inset focus-visible:!tw-outline-2 focus-visible:!tw-outline-offset-2 focus-visible:!tw-outline-indigo-600"
                          role="switch"
                          aria-checked="false"
                          aria-labelledby="switch-1-label"
                        >
                          <span class="!tw-sr-only">Agree to policies</span>
                          <!-- Enabled: "translate-x-3.5", Not Enabled: "translate-x-0" -->
                          <span
                            aria-hidden="true"
                            class="!tw-size-4 !tw-translate-x-0 !tw-transform !tw-rounded-full !tw-bg-white !tw-shadow-xs !tw-ring-1 !tw-ring-gray-900/5 !tw-transition !tw-duration-200 !tw-ease-in-out"
                          ></span>
                        </button>
                      </div>
                      <label
                        class="!tw-text-sm/6 !tw-text-gray-600"
                        id="switch-1-label"
                      >
                        By selecting this, you agree to our
                        <a
                          href="/privacy-policy"
                          class="cpynq c670g chugl ck5r6 !tw-font-semibold"
                          >privacy&nbsp;policy</a
                        >.
                      </label>
                    </div>
                  </div>
                  <div class="!tw-mt-10">
                    <button
                      type="submit"
                      class="cwlj7 czzu3 craoz chuke !tw-block !tw-w-full !tw-rounded-md !tw-px-3.5 !tw-py-2.5 !tw-text-center !tw-text-sm !tw-font-semibold !tw-text-white !tw-shadow-xs focus-visible:!tw-outline-2 focus-visible:!tw-outline-offset-2"
                      >Let's talk</button
                    >
                  </div>
                </form>
              </div>
              <!-- Success message -->
              <!-- <p class="text-xs text-slate-500 mt-3 italic">Thanks for subscribing!</p> -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const switchButton = document.querySelector('button[role="switch"]')
    const switchSpan = switchButton?.querySelector('span[aria-hidden="true"]')

    if (switchButton && switchSpan) {
      switchButton.addEventListener("click", () => {
        const isChecked = switchButton.getAttribute("aria-checked") === "true"
        switchButton.setAttribute("aria-checked", String(!isChecked))
        switchButton.classList.toggle("czzu3", !isChecked)
        switchButton.classList.toggle("!tw-bg-gray-200", isChecked)
        switchSpan.classList.toggle("!tw-translate-x-3.5", !isChecked)
        switchSpan.classList.toggle("!tw-translate-x-0", isChecked)
      })
    }

    // Fetch IP information and populate country and phone number fields
    fetch("https://ipapi.co/json/")
      .then((response) => response.json())
      .then((data) => {
        const countrySelect = document.getElementById(
          "country"
        ) as HTMLSelectElement
        const phoneNumberInput = document.getElementById(
          "phone-number"
        ) as HTMLInputElement

        if (countrySelect && data.country_code) {
          // Create a new option element if the country code doesn't exist
          if (
            !Array.from(countrySelect.options).some(
              (option) => option.value === data.country_code
            )
          ) {
            const option = document.createElement("option")
            option.value = data.country_code
            option.textContent = data.country_code
            countrySelect.appendChild(option)
          }
          countrySelect.value = data.country_code
        }

        if (phoneNumberInput && data.country_calling_code) {
          phoneNumberInput.value = data.country_calling_code
        }
      })
      .catch((error) => console.error("Error fetching IP information:", error))

    // Handle form submission
    const contactForm = document.getElementById(
      "contact-form"
    ) as HTMLFormElement
    if (contactForm) {
      contactForm.addEventListener("submit", async (event) => {
        event.preventDefault()

        const formData = new FormData(contactForm)
        const response = await fetch("api/contact-form", {
          method: "POST",
          body: formData,
        })

        if (response.ok) {
          console.log("Message sent successfully!")
          contactForm.reset()
        } else {
          console.log("Failed to send message.")
        }
      })
    }
  })
</script>
