---
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import ArticlesList from "../components/ArticlesList.astro"
import OpenSource from "../components/OpenSource.astro"
import PopularTalks from "../components/PopularTalks.astro"
import Layout from "../layouts/Layout.astro"

const articles = await getCollection("articles")
// Sort articles by publishedAt date in descending order
const sortedArticles = articles.sort(
  (a: CollectionEntry<"articles">, b: CollectionEntry<"articles">) =>
    b.data.publishedAt.getTime() - a.data.publishedAt.getTime()
)

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="DevSpace - Home">
  <div class="c4a0m">
    <div class="c8b8k">
      <div class="c7qcc">
        <!-- Latest Articles -->
        <section>
          <h2 class="cpynq c670g c8dzi cec5b">Latest Articles</h2>

          <!-- Filters -->
          <ul class="cg3vi crdpf cnxqt c8z7y cme8e cfwvb">
            <li class="cz4pw c59mu">
              <a class="cxmc9 cgygf cg0ht cnp10 ch63g chipd cen0e" href="#0"
                >Coding</a
              >
            </li>
            <li class="cz4pw c59mu">
              <a class="cts6h cb9ru cxslc c2bb0 chipd cen0e" href="#0"
                >Tutorials</a
              >
            </li>
          </ul>

          <!-- Articles list -->
          <ArticlesList articles={sortedArticles} />
        </section>

        <!-- Popular Talks -->
        <PopularTalks />

        <!-- Open Source -->
        <OpenSource />
      </div>
    </div>
  </div>
</Layout>
