---
import Project from "../components/Project.astro"
import { projects } from "../data/projects"
import Layout from "../layouts/Layout.astro"

const dataEngineeringProjects = projects.filter(
  (project) => project.category === "data-engineering"
)
const fullStackProjects = projects.filter(
  (project) => project.category === "full-stack"
)
---

<Layout title="Projects">
  <div class="c4a0m">
    <div class="c8b8k">
      <section>
        <h1 class="cpynq c1rrq ciz93">Projects</h1>
        <div class="c7qcc">
          {
            dataEngineeringProjects.length > 0 && (
              <section>
                <h2 class="cpynq c670g c8dzi cu69a">Data Engineering</h2>
                <div class="c2bf0 cuyx0 ci65n cgdgh ceazt">
                  {dataEngineeringProjects.map((project) => (
                    <Project project={project} />
                  ))}
                </div>
              </section>
            )
          }

          {
            fullStackProjects.length > 0 && (
              <section>
                <h2 class="cpynq c670g c8dzi cu69a">Full-Stack</h2>
                <div class="c2bf0 cuyx0 ci65n cgdgh ceazt">
                  {fullStackProjects.map((project) => (
                    <Project project={project} />
                  ))}
                </div>
              </section>
            )
          }
        </div>
      </section>
    </div>
  </div>
</Layout>
