<section>
  <div class="c8b8k">
    <div class="c2r2p c7sw6">
      <img
        class="c3iz2 cme53"
        src="/images/ambrose.jpg"
        width="56"
        height="56"
        alt="Me"
        style="border-radius: 50%; object-fit: cover; display: block;"
      />
      <h1 class="cpynq cme53 ciz93">
        I write about coding and being a <span
          class="cfsb7 cofz6 cdaqi c3ntq csd7h c4ezg c8xm0 c6esp chugl cz5kb c5c77"
          >full-time</span
        > maker.
      </h1>
      <p class="cxslc c2bb0 c5rvt">
        Writer, Speaker, Developer, and Co-Founder of Code.co, and AppForYou. I
        write about coding, startups, and my journey as a full-time maker.
      </p>
    </div>
  </div>
</section>
