<section>
  <div class="c8b8k">
    <div class="c2r2p c7sw6">
      <img class="c3iz2 cme53" src="/images/me.jpg" width="56" height="56" />
      <h1 class="cpynq cme53 ciz93">
        I write about coding and building <span
          class="cfsb7 cofz6 cdaqi c3ntq csd7h c4ezg c8xm0 c6esp chugl cz5kb c5c77"
          >scalable</span
        > systems.
      </h1>
      <p class="cxslc c2bb0 c5rvt">
        Developer and technical writer focused on backend engineering, secure
        infrastructure, and system design. I share insights on APIs,
        performance, and real-world architecture.
      </p>
    </div>
  </div>
</section>
