<section>
  <div class="c8b8k">
    <div class="c2r2p c7sw6">
      <img class="c3iz2 cme53" src="/images/me.png" width="56" height="56" />
      <h1 class="cpynq cme53 ciz93">
        I help teams build secure, <span
          class="cfsb7 cofz6 cdaqi c3ntq csd7h c4ezg c8xm0 c6esp chugl cz5kb c5c77"
          >scalable</span
        > systems and turn data into insights.
      </h1>
      <p class="cxslc c2bb0 c5rvt">
        Developer and technical writer sharing insights on backend engineering,
        data extraction, APIs, system design, secure infrastructure and
        real-world architecture.
      </p>
    </div>
  </div>
</section>
