---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import MermaidInit from "../components/MermaidInit.astro"
import NavigationBar from "../components/NavigationBar.astro"
import RightSideBar from "../components/RightSideBar.astro"
import "../styles/custom.css"
import "../styles/global.css"
interface Props {
  title: string
}

const { title } = Astro.props

const currentPath = Astro.url.pathname
const isHomeActive = currentPath === "/"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- <link href="/style.css" rel="stylesheet" /> -->
    <script src="/theme.js" defer></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"
    ></script> -->
  </head>
  <body class="c81c8 coo5n ce3nz cg0ht cpw1o cngo2 c9mf7">
    <div class="cfbgr cpphc">
      <div class="ckb2r cfwvb">
        <NavigationBar />
        <main class="c08dn c4a0m cajes">
          <div class="csbbd c0bc4 cpphc cglmn c8pgj cfwvb">
            <Header />
            {isHomeActive ? <Hero /> : null}
            <div
              class=`c6969 c9xin cr8w3 ci4j9 clwia cpqam c4a0m ${!isHomeActive ? "cr7br c94qd" : ""}`
            >
              <slot />
              <RightSideBar />
            </div>
            <Footer />
          </div>
        </main>
      </div>
    </div>

    <style>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <MermaidInit />
  </body>
</html>
